.block {
    background-color: #cec9cc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.profile {
    background-color: #cec9cc;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
}

.error {
    color: #e15d5d;
    display: flex;
    justify-content: center;
}